/*$page-color: #18212F;*/
/*$page-color: #f5f8fa;*/
/*$page-color: #173140;*/
/*$page-color: #171E23;*/
$page-color: #F1F1F1;
$nav-button-color: #7AA9C3;
$nav-background-color: #9FAAB1;
$light-text-color: #8CBEE4;
$general-text-color:#000000;
$timeline-button-color: #769AAD;
/*$general-text-color: white;*/
$type-writer-text-color: #E3E7EA; /*white;*/
/*$type-writer-text-color: white;*/
$tweet-background-color: #FFFFFF;
$tweet-text-color: #162229;
$title-border-color: white;
$title-border-color: #405769;
$about-page-section-color:#283844;
/*$title-border-color: #0F0F0F;*/

@font-face {
    font-family: Altera;
    src: url('/fonts/Altera.ttf');
}
@font-face {
    font-family: Roboto-Thin;
    src: url('/fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: Roboto-Light;
    src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: Roboto-Medium;
    src: url('/fonts/Roboto-Medium.ttf');
}

#projectPopup {
    display:none;
    position: absolute;
    background-color: rgba(215,215,215,0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#projectTitle {
    /*width: 80%;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-top:8px;
    margin-bottom: 0px;
    text-align:center;
    font-family: Roboto-Thin;
}
#projectDescription {
    width: 200px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    text-align:center;
    font-family: Roboto-Light;
}
#projectDate {
    margin-top: 8px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.6rem;
    font-family: Roboto-Light;
}
#projectImg {
    margin-top: 20px;
    margin-right:20px;
    margin-left:10px;
    margin-bottom:0px;
    width: 150px;
}
/** {*/
    /*border: 1px red solid;*/
/*}*/
.arrow {
    display:none;
    position: absolute;
    z-index: 1;
    /*display:flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*-webkit-animation: arrowBlink 4s infinite; [> Safari 4+ <]*/
    /*-moz-animation:    arrowBlink 4s infinite; [> Fx 5+ <]*/
    /*-o-animation:      arrowBlink 4s infinite; [> Opera 12+ <]*/
    /*animation:         arrowBlink 4s infinite; [> IE 10+, Fx 29+ <]*/
}
.arrow p {
    color: DimGrey;
    font-family: Roboto-Light;
}
.backSurfaceText {
  color: black;
  /*margin-left:10px; */
}
#cssBackSurface {
    display: flex;
    flex-direction: column;
}
#cssBackSurfaceTitle {
    flex: 1;
    margin:3%;
  display: inline-block;
}
#cssBackSurfaceLink {
    flex: 1;
    margin:3%;
  display: inline-block;
  float: right;
  /*margin-right: 10px;*/
  /*margin-top:5px;*/

}
#cssBackSurfaceDesc {
    flex: 10;
    margin:3%;
  display:block;
  /*margin-right:10px;*/
}
#contactinfo {
    display:none;
    position:absolute;
}
#contactinfo p {
    font-family:Roboto-Light;
    color: DimGrey;
}
#aboutDesc {
    display:none;
    position:absolute;
}
#aboutDesc p {
    font-family:Roboto-Light;
    color: DimGrey;
}
.aboutFlag {
    position:absolute;
    font-family: Roboto-Light;
    color: DimGrey;
}
#homeDesc {
    display:none;
    position: absolute;
    font-family: Roboto-Light;
    color: DimGrey;
    z-index: 1;
}
#bestExperience {
    display:none;
    position: absolute;
    font-family: Roboto-Light;
    color: DimGrey;
    z-index: 1;
}

#skillsDiv {
    position: absolute;
    display:none;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}
.skill {
    margin-right:50px;
    margin-left:50px;
    display: flex;
    width: 100%;
    align-items:center;
}
.skillHeader {
    text-align: center;
    width:50%;
    color: DimGrey;
    font-family: Roboto-Medium;
}
.skillList {
    width:50%;
}
/**{*/
  /*border: 1px solid red;*/
/*}*/

/* TOP LEVEL */
html {
    /*height:100%;*/
}
body {
    margin: 0px;
    padding: 0px;
    /*font: 14px Arial,Helvetica, sans-serif;*/
    font-family: Roboto-Light;
    background-color: $page-color;
    /*height: 100%;*/
}
h1 {
    /*color: #083800;*/
    color: $general-text-color;
    font-family: Arial;
    font-family: Roboto-Medium;
}
p {
    color: $general-text-color;
    /*color: #083800*/
    font-family: Arial;
    font-family: Roboto-Light;
}
p:hover {
    cursor:default;
}
h2 {
    color: $general-text-color;
    /*color:#083800*/
    font-family: Arial;
    font-family: Roboto-Medium;
}
h3 {
    color: $general-text-color;
    font-family: Arial;
    font-family: Roboto-Medium;
}
li {
    color: DimGrey;
    font-family: Roboto-Light;
}
/*.pageTitle {*/
  /*text-align: center;*/
  /*border-bottom: 2px solid $title-border-color;*/
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
  /*margin-bottom: 0px;*/
/*}*/
/* Nav bar */
#menu {
    z-index:1;
    position:fixed;
    display: flex;
    width: 100%;
    /*margin:0px;*/
    align-items: center;
    justify-content: space-between;
}
.navItem {
  display: inline-block; 
  padding-right:20px;
  font-size: 1em;
  font-family: Roboto-Light;
}
.navItem a:hover {
  opacity: 0.5;
}
.navItem a {
  text-decoration: none;
  color: $nav-button-color;
}
#navTitle {
    cursor: default;
  font-size: 2em;
  margin:0px;
  padding-left:20px;
  color: DimGrey;
  font-family: Roboto-Light;
}

@-webkit-keyframes arrowBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
@-moz-keyframes arrowBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
@-o-keyframes arrowBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
@keyframes arrowBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

#mobileMessage {
    display:none;
    padding-left:20px;
    padding-right:20px;
    position: absolute;
    font-family: Roboto-Medium;
    color:DimGrey;
}


