/*$page-color: #18212F;*/
/*$page-color: #f5f8fa;*/
$page-color: #173140;
$nav-button-color: #689EBB;
$general-text-color: white;
/*$general-text-color: white;*/
$type-writer-text-color: white;
/*$type-writer-text-color: white;*/
$tweet-background-color: #FFFFFF;
$tweet-text-color: #162229;
$title-border-color: white;
/*$title-border-color: #0F0F0F;*/


/**{*/
  /*border: 1px solid red;*/
/*}*/

/* TOP LEVEL */
body {
  margin: 0px;
  padding: 0px;
  font: 14px Arial,Helvetica, sans-serif;
  background-color: $page-color;
}
h1 {
  /*color: #083800;*/
  color: $general-text-color;
  font-family: Arial;
}
p {
  color: $general-text-color;
  /*color: #083800*/
  font-family: Arial;
}
h2 {
  color: $general-text-color;
  /*color:#083800*/
  font-family: Arial;
}
h3 {
  color: $general-text-color;
  font-family: Arial;
}
.pageTitle {
  text-align: center;
  border-bottom: 2px solid $title-border-color;
  margin-left: 20px;
  margin-right: 20px;
}
/* Nav bar */
#menu {
  /*position:fixed;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left:20px;
  margin-right: 20px;
}
.navItem {
  display: inline-block; 
  padding: 5px;
  /*font-family: Garamond;*/
  font-size: 1em;
}
.navItem a:hover {
  opacity: 0.5;
}
.navItem a {
  text-decoration: none;
  color: $nav-button-color;
}
#navTitle {
  /*font-family: Garamond;*/
  font-size: 2em;
  /*padding: 0.625rem;*/
  margin:0px;
}
/* WORK */
#allProjects {
  display: flex;
  flex-wrap: wrap;
  /*width: 80%;*/
  /*padding: 0px;*/
  padding-left: 5%;
  padding-right: 5%;
  padding-top:0px;
  padding-bottom:0px;
  margin: 0px;
  justify-content: center;
}
/*#reflected {*/
  /*width: 93%; */
/*}*/
.projectItem {
  display:flex;
  width: 50%;
  height:auto;
  margin-bottom: -3px;
  /*margin: 0.625rem;*/
  /*margin:0px;*/
  /*background-color: #00040C;*/
  padding: 0px;
  /*border-radius:20px;*/
}
.projectLink{
  /*position: relative;*/
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.projectImage {
  width: 100%;
  height: 100%;
  /*border-top-left-radius: 20px;*/
  /*border-top-right-radius: 20px;*/
}
.imgContainer {
  position: relative;
}
.textContainer {
  position: relative;
}
.imgMask {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:99%;
  background-color: black;
  opacity: 0;
  /*border-top-left-radius: 20px;*/
  /*border-top-right-radius: 20px;*/
}
.imgMask:hover {
  opacity: 0.5;
}
.projectText {
  display: none;
  position:absolute;
  top:20%;
  left:0;
  height:0px;
  text-align: center;
  /*color: #083800;*/
  color: white;
  /*font-family: Garamond;*/
  padding-left: 10px;
  padding-right: 10px;
}
.projectTitle {
  position:absolute;
  top:20%;
  left:0px;
  right: 0px;
  text-align:center;
}
.projectDesc {
  position:absolute;
  top:40%;
  left: 0px;
  right: 0px;
  text-align:center;
}

/* PROJECT PAGE */
#videoContainer {
  position: relative;
  width:100%;
  height: 0;
  padding-bottom: 51%;
}
#videoContainer iframe {
  position: absolute;
  height:100%;
  width: 100%;
  left:0;
  top:0;
}
.credits {
  font-size: 1em;
  text-align:center;
}
.descriptionTitle {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 3px;
  font-size: 2em;  
  border-bottom: 1px solid white;
}
.longDesc {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.3em;
}



/*HOME PAGE*/
#homeWrapper {
  margin-top: 10%;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  /*font-family: Garamond;*/
  margin-top:15px;
}

#typewriter {
  color: $type-writer-text-color;
}

#homepageInput {
  display:none;
  width: 35%;
  height: 2em;
  font-size: 0.5em;
  text-align:center;
  border-radius:10px;
  border: 1px solid black;
}

.typed-cursor{
  display: block;
  color: $type-writer-text-color;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* HOME TWEETS */
#tweets {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  /*font-family: Garamond;*/
}
.sentiment {
  font-size: 1em;
  width: 100%;
  text-align: center; 
}
.tweetContainer {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-right: 8px;
  width: 30%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  /*border: 2px solid DimGrey;*/
  background-color: $tweet-background-color;
  border-radius: 20px;
  border: 1px solid #C5C5C5;
  -moz-box-shadow: 8px 8px 4px #ccc;
  -webkit-box-shadow: 8px 8px 4px #ccc;
  box-shadow: 8px 8px 4px #ccc;
}
.imageContainer {
}
.textContainer {
  margin: 0px;
  margin-left: 15px;
}
.tweetImage {
  margin-left: 8px;
  /*width: 80px;*/
  border-radius: 10px;
}
.tweetText {
  font-size: 1.3em;
  margin: 0px;
  margin-top: 0.5em;
  color: $tweet-text-color;
}
.username {
  font-size: 0.9em;
  margin: 0px;
  color: $tweet-text-color;
}

