<div id='nav'>
    <a href='/' class='nohover'><h1 id='navTitle'>jc</h1></a>
    <ul id='navLinks'>
        <li class='navItem'><a href='/projects'>projects.</a></li>
        <li class='navItem'><a href='/about'>about.</a></li>
        <li class='navItem'><a href='/contact'>contact.</a></li>
        <li class='navItem'><a href='http://itp.jcharry.com'>itpblog.</a></li>
    </ul>
    <button id='navButton'><img src='images/Menu-100.png'></button>

    <div id='menupopup'>
        <button id='closeMenu'><img src='images/Back-100.png'></button>
        <ul>
            <li class='navItem'><a href='/projects'>projects.</a></li>
            <li class='navItem'><a href='/about'>about.</a></li>
            <li class='navItem'><a href='/contact'>contact.</a></li>
            <li class='navItem'><a href='http://itp.jcharry.com'>itpblog.</a></li>
        </ul>
    </div>
</div>
