<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Jamie Charry</title>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/jquery-ui/jquery-ui.min.js'></script>

    <script src='/bower_components/p5.js/lib/p5.min.js'></script>
    <script src='/bower_components/typed.js/dist/typed.min.js'></script>
    <script src='/bower_components/three.js/build/three.min.js'></script>

    <script src="/bower_components/three.js/examples/js/renderers/Projector.js"></script>
    <script src="/bower_components/three.js/examples/js/renderers/CanvasRenderer.js"></script>    
    <script src="/bower_components/three.js/examples/js/renderers/CSS3DRenderer.js"></script>
    <script src='/bower_components/three.js/examples/js/controls/OrbitControls.js'></script>
    <script src='/bower_components/tweenlite/TweenLite.min.js'></script>
    <script src='/bower_components/tween.js/src/Tween.js'></script>
    <script src='/bower_components/threex.dynamictexture/threex.dynamictexture.js'></script>

    <script src='/javascripts/nav.js'></script>
    <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body id='body'>


  <nav id='menu'>
      <h1 id='navTitle'>jc.</h1>
    <ul>
      <li class='navItem'><a href='/about'>About</a></li>
      <li class='navItem'><a href='http://itp.jcharry.com'>Blog</a>
      <li class='navItem'><a href='https://github.com/jcharry'>Github</a></li>
      <li class='navItem'><a href='/contact'>Contact</a></li>
    </ul>
  </nav>
  {{{body}}}
  <div id='threejsContainer'></div>
  <div id='projectPopup'>
    <img id='projectImg' src=''></img>
    <h2 id='projectTitle'></h2>
    <p id='projectDescription'></p>
    <p id='projectDate'></p>
  </div>

</body>
</html>
