<p id='aboutdesc'>Hi. I'm Jamie. I like to code. I also love science. Often you'll hear me (probably far too often) explaining how things work - like rainbows, or the sun, or microwave ovens. The world is a fascinating place, and I can't help but share that excitement with people. Currently a Master's Candidate at ITP (Interactive Telecomunications Program) at NYU, I'm focusing on leveraging technology to show how the world works, from our solar system to the music we love. From how our bodies work to where our trash goes. I want to help people understand that their choices matter. And to breed the same sort of excitement that I feel every time I look at a skyscraper in awe.<br>While I don't have a formal coding background, I'm rabidly self-taught and have developed several small scale apps for both the web and mobile.</p>

<!--<canvas id='aboutCanvas'></canvas>-->


<a id='resumelink' href='/images/resume.pdf'>Resume</a>
