<h1 class='pageTitle'>{{pagetitle}}</h1>

<p class='centeredtext'>Hi. I'm Jamie. I like to code. I also love science. Often you'll hear me (probably far too often) explaining how things work - like rainbows, or the sun, or microwave ovens. The world is a fascinating place, and I can't help but share that excitement with people. Currently a Master's Candidate at ITP (Interactive Telecomunications Program) at NYU, I'm focusing on leveraging technology to show how the world works, from our solar system to the music we love. From how our bodies work to where our trash goes. I want to help people understand that their choices matter. And to breed the same sort of excitement that I feel every time I look at a skyscraper in awe.</p>

<p class='centeredtext'>While I don't have a formal coding background, I'm rabidly self-taught and have developed several small scale apps for both the web and mobile. Moreover, I believe that software should drive social good, rather than give us more ways to filter our photos. ITP is giving me the chance to think in this way, and while I might not be a coding wizard, ideas, motivation, and a willingness to constantly explore count as much as raw technical prowess</p>

<p class='centeredtext'>Head over to my <a href='http://itp.jcharry.com'>ITP Blog</a> to see a glimpse into my mind</p>

<!--<canvas id='aboutCanvas'></canvas>-->


<!--<div id='skillsDiv'>-->
    <!--<div class='skill'>-->
        <!--<h3 class='skillHeader'>Full Stack Web</h3>-->
        <!--<div class='skillList'>-->
            <!--<ul>-->
                <!--<li>HTML, CSS/Sass, Javascript</li>-->
                <!--<li>Node.js with Express framework</li>-->
                <!--<li>Templating with Handlebars and Jade</li>-->
                <!--<li>MongoDB</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='skill'>-->
        <!--<h3 class='skillHeader'>Mobile</h3>-->
        <!--<div class='skillList'>-->
            <!--<ul>-->
                <!--<li>Swift</li>-->
                <!--<li>Working knowledge of Obj-c</li>-->
                <!--<li>Cordova</li>-->
                <!--<li>Parse</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class='skill'>-->
        <!--<h3 class='skillHeader'>Prototyping &amp; Design</h3>-->
        <!--<div class='skillList'>-->
            <!--<ul>-->
                <!--<li>Arduino &amp; Basic Electronics</li>-->
                <!--<li>3D Modeling &amp; Printing</li>-->
                <!--<li>Illustrator, Premiere, After Effects</li>-->
                <!--<li>Fabrication</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<p class='centeredtext'>Here's my <a id='resumelink' href='/images/resume.pdf'>resume</a>, if you're into that sort of thing.</p>
