<!--<h1 class='pageTitle'>{{pagetitle}}</h1>-->

<div class='fully-centered'>
    <p class='typed big-text'></p>
</div>

<div class='hidden'>
    <img id='profile-img' src='images/profile.jpg'>
    <p class='centeredtext'>I build things for the web, with a focus on education, elucidation, and empowerment.  I care about science, the environment, and individual behavior.  I'm curious why people believe what they do and what we can do to encourage positive behavior.</p>

    <p class='centeredtext'>Check out my <a href='http://itp.jcharry.com'>ITP Blog</a> to see a glimpse into work at NYU's Interactive Telecommunications Program</p>

    <p class='centeredtext'>From time to time I also post some <a href='http://blog.jcharry.com'>thoughts about programming</a></p>

    <h2>Skills</h2>
    <ul class='centeredtext'><span class='strong'>Full stack web</span><hr>
        <li><span class='bold-text'>General Front End:</span> Javascript, HTML, CSS/SASS, canvas graphics, some webgl</li>
        <li><span class='bold-text'>General Back End:</span> Node, Flask</span>
        <li><span class='bold-text'>Drawing Libraries:</span> p5.js, three.js, d3.js</li>
        <li><span class='bold-text'>Frameworks:</span> React/Redux, Express w/ Handlebars</li>
        <li><span class='bold-text'>Build tools:</span> Webpack</li>
        <li><span class='bold-text'>Databases:</span> MongoDB, Firebase</li>
        <li><span class='bold-text'>Deploying:</span> Basic server setup (Digital Ocean), Herkou</li>
    </ul>
    <ul class='centeredtext'><span class='strong'>General Programming</span><hr>
        <li><span class="bold-text">Python:</span> Text Analysis, Machine Learning</li>
        <li><span class='bold-text'>Mapping:</span> MapboxGL, d3.geo, ogr2ogr, topojson</li>
        <li><span class="bold-text">API's:</span> Cloud vision, Watson, Google Maps, and lots more</li>
        <li><span class="bold-text">Mobile:</span> Familiar with Swift, Obj-c, Phonegap/Cordova, jQuery Mobile</li>
    </ul>

<p class='centeredtext'>Here's my <a id='resumelink' href='/images/resume.pdf'>resume</a>, if you're into that sort of thing.</p>
<script src='./../bower_components/typed.js/dist/typed.min.js'></script>
