<p class='centeredtext'> We rarely stop to consider our food beyond how it tastes. The ubiquity of our food has created a psychological distance between us and the farm. But for those of us who have the luxury to care, we must start considering deeply where our food comes from, how it gets here, and where it goes. This brief history hopes to provide some context on the cocoa bean, and hopefully allow us to appreciate chocolate (our chosen endpoint for the bean) in all it's fullness, rather than a snack meant to be guzzled.</p>

<p class='centeredtext'><em>Technologies:</em> Single page app written in raw Javascript. I wanted to challenge myself not to lean on libraries or frameworks for simple animations</p>

<p class='centeredtext'><a href='http://cocoa.jcharry.com'>Project Link</a><p>

<p class='centeredtext'><img class='projectImg' src='./images/cocoabean.png'></p>
<p class='centeredtext'><img class='projectImg' src='./images/cocoabean2.png'></p>

