<ul>
    <li class="contactItem">
        <a href="">Github</a>
    </li>
    <li class="contactItem">
        <a href="">Facebook</a>
    </li>
    <li class="contactItem">
        <a href="">Vimeo</a>
    </li>
    <li class="contactItem">
        <a href=""></a>
    </li>
</ul>

