<h1 class='pageTitle'>{{title}}</h1>

<div id='contactDiv'>
    <div class='contactItem' >
        <a class='contactLink' href='mailto:jamie.charry@gmail.com'><img class='contactImage'  src='/images/mail.png' alt='email'></a>
        <h2 class='contactText'>jamie.charry@gmail.com</h2>
    </div>
    <div class='contactItem' >
        <a class='contactLink' href='https://www.facebook.com/jamie.charry'><img class='contactImage'  src='/images/facebook.png' alt='facebook'></a>
        <h2 class='contactText'><pre></pre></h2>
    </div>
    <div class='contactItem' >
        <a class='contactLink' href='https://www.linkedin.com/in/jcharry'><img class='contactImage' src='/images/linkedin.png' alt='linkedin'></a>
        <h2 class='contactText'><pre></pre></h2>
    </div>
    <div class='contactItem' >
        <a class='contactLink' href='https://www.vimeo.com/jcharry'><img class='contactImage'  src='/images/vimeo.png' alt='vimeo'></a>
        <h2 class='contactText'>jcharry</h2>
    </div>
</div>
