<ul id='contactList'>
    <li class="contactItem">
        <a href="http://linkedin.com/in/jcharry"><img src='./images/linkedin.png'></a>
    </li>
    <li class="contactItem">
        <a href="http://www.github.com/jcharry"><img src='./images/github.png'></a>
    </li>
    <li class="contactItem">
        <a href="https://www.facebook.com/jamie.charry"><img src='./images/facebook.png'></a>
    </li>
    <li class="contactItem">
        <a href="http://www.vimeo.com/jcharry"><img src='./images/vimeo.png'></a>
    </li>
    <li class="contactItem">
        <a href="mailto:jamie.charry@gmail.com"><img src='./images/mail.png'></a>
    </li>
</ul>

