 <h1 class='pageTitle'>{{pagetitle}}</h1>
<p class='centeredtext'>What's Maltodextrin? Or tripotassium phosphate? There's a lot of stuff in our food. Some ingredients are easy, others are hardly pronounceable, but what are they?  Why are they in there? This app is an attempt to answer some of these questions by providing a simple way to pull out ingredients from packaged food and break down what each ingredient is, one by one.  All that's required is to take a photo of the ingredient label.  Using OCR, the ingredients are deciphered from the photo, then information on each ingredient is pulled from the web so the user doesn't have to do any searching on their own.</p>

<p class='centeredtext'>Built with Phonegap, Node, Google Cloud Vision, JQuery mobile for layouts</p>

<div class='iframeContainer'>
	<iframe src="https://player.vimeo.com/video/175415250" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<p><a href="https://vimeo.com/175415250">What&#039;s in my Food?</a> from <a href="https://vimeo.com/jcharry">jcharry</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
