<h1 class='pageTitle'></h1>

<div id='homeWrapper' class='flexContainer'>
  <div id='typewriter'></div>
</div>

<div id='inputContainer' class='flexContainer'>
  <input id='homepageInput' type='text'>
</div>

<div id='tweets'></div>

<script src='/javascripts/home.js'></script>


