<h1 class='pageTitle'>{{project.title}}</h1>
<p class='credits'>{{project.credits}}</p>

{{#if project.hasVideo}}
<div id='videoContainer'>
  <iframe src="https://player.vimeo.com/video/149091016" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{{/if}}

<div class='sectionTwo' id='projectPageSectionTwo'>
    <h3 class='sectionTitle'>Project Description</h3>
    <p class='sectionTwoP'>{{project.longDesc}}</p>
</div>
