<h1 class='pageTitle'>{{project.title}}</h1>
<p class='credits'>{{project.credits}}</p>

{{#if project.hasVideo}}
<div id='videoContainer'>
  <iframe src="https://player.vimeo.com/video/149091016" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {{!<p><a href="https://vimeo.com/149091016">Plasmic Reflections</a> from <a href="https://vimeo.com/jcharry">jcharry</a> on <a href="https://vimeo.com">Vimeo</a>.</p>}}
</div>
{{/if}}



<h3 class='descriptionTitle'>Project Description</h3>
<p class='longDesc'>{{project.longDesc}}</p>
