<p class='sentiment'>{{message}}</p>
{{#each tweets}}
  <div class='tweetContainer'>
    <div class='imageContainer'>
      <img class='tweetImage' src={{user.profile_image_url}}></img>
    </div>
    <div class='textContainer'>
      <p class='username'>{{user.screen_name}}</p>
      <p class='tweetText'>{{text}}</p>
    </div>
  </div>
{{/each}}
