body {
  margin: 0px;
  padding: 0px;
  background-color: #F3F3F3;
  font-family: Cabin; }

h1 {
  font-size: 2.5vmax; }

a {
  text-decoration: none;
  font-size: 1.3vmax;
  color: #710071;
  color: #006100; }

a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-bottom: 1px solid #710071;
  border-bottom: 1px solid #006100; }

#nav {
  height: 60px;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nohover:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  color: black;
  border-bottom: 1px solid #710071;
  border-bottom: 1px solid #006100; }

a {
  text-decoration: none; }

#navTitle {
  color: black; }

.navItem {
  padding: 5px; }

hr {
  width: 80vw; }

#navLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

ul li {
  list-style-type: none; }

#nav button {
  display: none;
  background-color: transparent;
  border: 0px; }

#nav button img {
  height: 25px;
  width: 25px; }

#menupopup {
  display: none;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 20;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }

#menupopup ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 20px; }

#menupopup a {
  font-size: 14pt; }

#menupopup img {
  position: relative;
  top: 20px;
  left: 20px;
  height: 25px;
  width: 25px;
  padding-left: 20px; }

.pageTitle {
  width: 100vw;
  text-align: center; }

#filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 1.7vmax;
  margin-left: 20vw;
  margin-right: 20vw; }

.filterItem {
  padding: 10px; }

.filterItem:hover {
  cursor: pointer; }

.selected {
  color: #710071;
  color: #006100;
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-bottom: 1px solid #710071;
  border-bottom: 1px solid #006100;
  padding-bottom: 2px;
  /*background-color:#710071; */
  /*border-radius:20px;*/ }

#projectsContainer {
  padding-left: 5%;
  padding-right: 5%; }

#projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*-webkit-box-pack: center;*/
  /*-webkit-justify-content: center;*/
  /*-ms-flex-pack: center;*/
  /*justify-content: center;*/
  padding: 0px;
  margin: 0px; }

.project {
  width: 50%;
  height: 50vw;
  /*margin: 5px;*/
  /*max-width:700px;*/
  /*max-height:700px;*/
  min-width: 170px;
  min-height: 170px; }

.project img {
  position: absolute;
  width: 100%;
  height: 100%; }

.project a {
  font-size: 1.5vmax; }

.projectContainer {
  position: relative;
  width: 100%;
  height: 100%; }

.overlay {
  display: none;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.overlay h3 {
  color: white;
  text-align: center;
  font-size: 2.0vmax;
  padding: 2px; }

.overlay p {
  color: white;
  text-align: center;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 0px; }

.centeredtext {
  padding-left: 20vw;
  padding-right: 20vw;
  font-size: 1.6vmax; }

/*#resumelink {*/
/*margin: 5vw;*/
/*font-size: 10pt;*/
/*}*/
#aboutCanvas {
  width: 80%;
  height: 400px; }

#contactList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0; }

.contactItem img {
  padding: 20px;
  width: 100px;
  height: 100px; }

@media all and (max-width: 600px) {
  .project p {
    font-size: 10pt; } }

@media all and (max-width: 450px) {
  .centeredtext {
    font-size: 10pt; }
  #navLinks {
    display: none; }
  #nav button {
    display: block; }
  #projectsContainer {
    padding-left: 3%;
    padding-right: 3%; }
  #projects {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
  .project {
    width: 100vw;
    height: 100vw; }
  .project p {
    font-size: 8pt; }
  .project a {
    font-size: 3vw; }
  /*.overlay {*/
  /*display: block;*/
  /*}*/ }

.iframeContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.projectImg {
  width: 100%; }

@media all and (min-width: 1000px) {
  .project p {
    font-size: 11pt; }
  .aboutdesc {
    font-size: 12pt; }
  h1 {
    font-size: 16pt; }
  a {
    font-size: 12pt; }
  .filterItem {
    font-size: 13pt; }
  .overlay h3 {
    font-size: 14pt; }
  .overlay .projectDesc {
    font-size: 11pt; }
  .overlay .projectDate {
    font-size: 9pt; }
  .centeredtext {
    font-size: 11pt; }
  #projectsContainer {
    padding-left: 10%;
    padding-right: 10%; }
  #projects {
    /*padding-right:10vw;*/
    /*padding-left: 10vw;*/ } }
