body {
  margin: 0px;
  padding: 0px;
  background-color: #F3F3F3;
  font-family: Cabin; }

h1 {
  font-size: 2.5vmax; }

a {
  text-decoration: none;
  font-size: 1.3vmax;
  color: #710071;
  color: #006100; }

a:hover {
  opacity: 0.5;
  border-bottom: 1px solid #710071;
  border-bottom: 1px solid #006100; }

#nav {
  height: 60px;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.nohover:hover {
  opacity: 1;
  color: black;
  border-bottom: 1px solid #710071;
  border-bottom: 1px solid #006100; }

a {
  text-decoration: none; }

#navTitle {
  color: black; }

.navItem {
  padding: 5px; }

hr {
  width: 80vw; }

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

ul li {
  list-style-type: none; }

#nav button {
  display: none;
  background-color: transparent;
  border: 0px; }

#nav button img {
  height: 25px;
  width: 25px; }

#menupopup {
  display: none;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 20;
  animation-name: fadein;
  animation-duration: 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#menupopup ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px; }

#menupopup a {
  font-size: 14pt; }

#menupopup img {
  position: relative;
  top: 20px;
  left: 20px;
  height: 25px;
  width: 25px;
  padding-left: 20px; }

.pageTitle {
  width: 100vw;
  text-align: center; }

#filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.7vmax; }

.filterItem {
  padding: 10px; }

.filterItem:hover {
  cursor: pointer; }

.selected {
  color: #710071;
  color: #006100;
  opacity: 0.5;
  border-bottom: 1px solid #710071;
  border-bottom: 1px solid #006100;
  padding-bottom: 2px;
  /*background-color:#710071; */
  /*border-radius:20px;*/ }

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px; }

.project {
  width: 30vw;
  height: 30vw;
  margin: 5px;
  max-width: 250px;
  max-height: 250px;
  min-width: 150px;
  min-height: 150px; }

.project img {
  position: absolute;
  width: 100%;
  height: 100%; }

.project a {
  font-size: 1.5vmax; }

.projectContainer {
  position: relative;
  width: 100%;
  height: 100%; }

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.overlay h3 {
  color: white;
  text-align: center; }

.overlay p {
  color: white;
  text-align: center;
  padding: 15px; }

#aboutdesc {
  padding: 5vw;
  font-size: 1.6vmax; }

#resumelink {
  margin: 5vw;
  font-size: 10pt; }

#aboutCanvas {
  width: 80%;
  height: 400px; }

@media all and (max-width: 400px) {
  #navLinks {
    display: none; }
  #nav button {
    display: block; }
  .project {
    width: 40vw;
    height: 40vw; }
  .project a {
    font-size: 3vw; }
  /*.overlay {*/
  /*display: block;*/
  /*}*/ }

@media all and (min-width: 1000px) {
  .project p {
    font-size: 12pt; }
  #aboutdesc {
    font-size: 12pt; }
  h1 {
    font-size: 16pt; }
  a {
    font-size: 12pt; }
  .filterItem {
    font-size: 11pt; } }
